/* Styling for the search bar inside the submenu */
.submenu .input-group input {
    padding: 10px;
    border: 1px solid #ddd; /* Initial border color */
    border-radius: 8px;
    background-color: #f9f9f9; /* Light background color */
    width: 100%;
    box-sizing: border-box;
    outline: none;  /* Remove default black outline */
    box-shadow: none; /* Remove any shadow effect */
}

/* Optional: Custom focus styling */
.submenu .input-group input:focus {
    border-color: #ccc; /* Optional: Change border color on focus */
    outline: none; /* Ensure the outline is removed */
    box-shadow: none; /* Ensure no shadow is applied */
}

.isbn{
    color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.fa-regular{
    font-size: 30px;
    margin-top: 5px;
    top: 10;
    color: rgb(55 88 249 / var(--tw-bg-opacity));
    cursor: pointer;
}
.fa-solid{
    font-size: 30px;
    margin-top: 5px;
    color: rgb(55 88 249 / var(--tw-bg-opacity));
    cursor: pointer;
}

#searchButton{
    padding-right: 37%;
    padding-left: 37%;
    background-color: rgb(55 88 249 / var(--tw-bg-opacity));
    border-radius: 5px;
    margin-top: 8px;
    color: white;
}

